:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav a:hover{
    color: white;
}

/* Filme Principal */

.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),url('/img/fundo.jpeg');
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}



.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo {
    margin-top: 15%;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    color: white;
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}
.container{
    margin-left:10px;
}

.filme-principal .container{
    width: 75%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    transition: .3s;
}

.carrosel-filmes {
    margin-top: 5px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 20px 0;
    padding: 20px 0;
    
}

footer {
    height: 100px;
}

footer .container{
    display: flex;
    flex-direction: row;
    
}

footer .container h3{
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #AAA;
}
li a:hover{
    color: white;
}

a i:hover{
    color: red;
}

ul li {
    margin: 5px 10px;
    text-decoration: none;
    display: block;
}

footer div p {
  margin: auto;
}
footer .fo{
  background-color: #E50914;  
  height: 40px;
  margin-top: 10px;
  display: flex;
  
}
